@page "/"

<PageTitle>Index</PageTitle>

<!-- HERO SECTION -->
<section>
    <div class="bg-dark text-white d-flex align-items-center mb-5" style="height: 100vh; background-image: url(assets/img/illustrations/robot_hero3.png); background-position: center right; background-repeat: no-repeat; background-size:cover;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 hero-text">
                    <h1 class="display-4"><strong>START USING AI GENERATED EMAIL RESPONSES NOW!</strong></h1>
                    <p class="lead">
                        Do you have trouble expressing yourself professionally in emails? EmailReply.io
                        is here to help you. The tool utilizes AI technology to generate responses to any
                        emails you may receive. Try it out and improve your professional communication skills in seconds!
                    </p>
                    <a href="#tool" class="btn btn-primary btn-lg mt-3 my-btn ripple"><strong>TRY FOR FREE</strong></a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- INFORMATION SECTIOn -->
<section>
    <div class="container my-5">
        <div class="row">
            <div class="col-md-6">
                <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_kfuw1wey.json"  background="transparent"  speed="0.5"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
            </div>
            <div class="col-md-6">
                <h3 class="pb-md-4">HOW CAN EMAILREPLY HELP YOU BE MORE PRODUCTIVE?</h3>
                <p class="py-4 py-md-0">Utilize our OpenAI's AI technology to generate professional responses to any written communication.</p>
                <div class="row gy-4 row-cols-2 row-cols-md-2">
                    <div class="col">
                        <div class="info-border">
                            <ul>
                                <li>Create response to a text message</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="info-border">
                            <ul>
                                <li>Create response to a customer email</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="info-border">
                            <ul>
                                <li>Create response to a specific programming question on slack</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div id="tool" class="info-border">
                            <ul>
                                <li>Write a professional response to any written form of coomunication</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="py-4 py-xl-5 my-5">
    <OpenAIComponent></OpenAIComponent>
</section>

<!-- FAQ SECTION -->
<section class="py-4 py-xl-5 mb-5">
    <div class="container">
        <div class="row mb-2">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2 class="display-6 fw-bold mb-5"><span class="pb-3 custom-underline-big">FAQ /Terms of Use&nbsp;<br></span></h2>
                <p class="mb-5">EmailReply.io utilizes the OpenAI API to generate AI responses. By using this tool, you agree to the terms of use specified by OpenAI. You can read more about these terms at the following link: <a href="https://openai.com/terms/#:~:text=You%20must%20be%2018%20years,to%20register%20for%20an%20account.">Terms of Use (openai.com)</a><br></p>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-8 mx-auto">
                <div class="accordion" role="tablist" id="accordion-1">
                    <div class="accordion-item">
                        <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-1" aria-expanded="false" aria-controls="accordion-1 .item-1">How is the tool able generate a reply to an email ?</button></h2>
                        <div class="accordion-collapse collapse item-1" role="tabpanel" data-bs-parent="#accordion-1">
                            <div class="accordion-body">
                                <p>ChatGPT is a variant of GPT-3, which is a language generation model developed by OpenAI. It is able to generate responses to an email by processing the input email and using its understanding of language and context to generate a relevant and coherent response. The model has been trained on a large dataset of text, including many examples of emails and responses, which allows it to generate responses that are similar to those that a human might write. However, it is important to note that ChatGPT is an AI and may not always generate responses that are appropriate or accurate. It is always a good idea to review the output of any language generation model carefully before using it.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-2" aria-expanded="false" aria-controls="accordion-1 .item-2">How to use the tool ?</button></h2>
                        <div class="accordion-collapse collapse item-2" role="tabpanel" data-bs-parent="#accordion-1">
                            <div class="accordion-body">
                                <p class="mb-0">To use the tool, simply paste the text of any email, chat message, or other written communication that you need a response to. The tool will then send the message to the OpenAI AI, which will generate a professional, relevant response. This can be especially useful when you need to craft a specific reply to an email but are unsure of the best way to do so. Just copy the content of the email into the tool and use the generated response as a starting point. As with any automated tool, it is always a good idea to review the output carefully before sending it to others.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" role="tab"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-3" aria-expanded="true" aria-controls="accordion-1 .item-3">Is my data beeing stored anywhere ?&nbsp;</button></h2>
                        <div class="accordion-collapse collapse show item-3" role="tabpanel" data-bs-parent="#accordion-1">
                            <div class="accordion-body">
                                <p class="mb-0">It is possible that OpenAI may store data that you input into their tools or services, as well as data generated as a result of your use of those tools or services. This data may be used for a variety of purposes, including improving the performance of the tools or services, training machine learning models, and conducting research. It is always a good idea to review the terms of use and privacy policy of any service you use to understand how your data may be used. If you have specific concerns about the data that OpenAI collects or how it is used, you may want to contact them directly to ask for more information.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<AnchorNavigation/>