@inherits LayoutComponentBase

<PageTitle>EmailReplyIo</PageTitle>

<div class="page">
    <nav class="navbar navbar-light navbar-expand-md fixed-top navbar-shrink py-3" id="mainNav">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center" href="/"><span>EmailReply.io</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav mx-auto"></ul><a class="btn btn-primary shadow button ripple" role="button" href="#tool">TRY IT FOR FREE</a>
            </div>
        </div>
    </nav>

    <header class="py-t mt-5">
        <div class="container pt-4 pt-xl-5">
            <div class="row pt-5">
                <div class="col-md-8 col-lg-8 text-center text-md-start mx-auto">
                    <div class="text-center">
                        <h1 class="display-5 fw-bold mb-5">UNLEASH THE POTENTIAL OF AI-ENHANCED EMAIL RESPONSES! <span class="custom-underline-big">NOW!</span></h1>
                        <p class="fs-5 text-muted mb-5">Do you have trouble expressing yourself professionally in emails? EmailReply.io is here to help you. The tool utilizes AI technology to generate responses to any emails you may receive. Try it out and improve your professional communication skills in seconds!</p><a href="#tool" class="btn btn-primary button ripple">START !</a>
                    </div>
                </div>
                <div class="col-12 col-lg-10 mx-auto">
                    <div class="text-center position-relative"><img class="img-fluid" src="assets/img/illustrations/Message%20sent%20-%201280x958.png" style="width: 800px;margin-top: -10px;transform: translate(0px) rotate(3deg) scale(1) skew(0deg);filter: contrast(141%) hue-rotate(0deg) saturate(107%);"></div>
                </div>
            </div>
        </div>
    </header>

    <main>
        <article class="content px-4 py-5">
            @Body
        </article>
    </main>

    <footer>
        <div class="container py-4 py-lg-5">
            <div class="row row-cols-2 row-cols-md-4">
                <div class="col-12 col-md-3">
                    <div class="fw-bold d-flex align-items-center mb-2"><span>EmailReply.io</span></div>
                    <p class="text-muted">Modern tool for quickly generate a reply to an email by utilizing OpenAI's API.</p>
                </div>
                <div class="col-sm-4 col-md-3 text-lg-start d-flex flex-column">
                    <h3 class="fs-6 fw-bold">Types of replies?</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">Email</a></li>
                        <li><a href="#">Chat messages</a></li>
                        <li><a href="#">Any kind of written communication</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 text-lg-start d-flex flex-column">
                    <h3 class="fs-6 fw-bold">About</h3>
                    <ul class="list-unstyled">
                        <li><a href="https://openai.com/blog/chatgpt/"></a>ChatGPT</li>
                        <li><a href="https://openai.com/"></a>OpenAI</li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 text-lg-start d-flex flex-column">
                    <h3 class="fs-6 fw-bold">Github Repository</h3>
                    <ul class="list-unstyled">
                        <li><a href="https://github.com/hoejsagerc/emailreply_io">You can checkout the Github repository for this project, if you are interested in how i made it.</a></li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
    </footer>
</div>
