@inherits LayoutComponentBase

<PageTitle>EmailReplyIo</PageTitle>

<div class="page">

    <!-- NAVBAR SECTION -->
    <nav class="navbar navbar-dark navbar-expand-md fixed-top navbar-shrink py-3" id="mainNav">
        <div class="container nav-border pb-3">
            <a class="navbar-brand d-flex align-items-center" href="/"><span style="color: rgb(194, 214, 214);"><strong>EMAILREPLY.IO</strong></span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav mx-auto"></ul><a class="btn btn-primary my-btn shadow button ripple" role="button" href="#tool"><strong>GET STARTED</strong></a>
            </div>
        </div>
    </nav>

    <main>
        <article class="content px-4 py-5">
            @Body
        </article>
    </main>

    <footer style="margin-top: 15rem;">
        <div class="container py-4 py-lg-5 footer-border my-5">
            <div class="row row-cols-2 row-cols-md-4 mt-5">
                <div class="col-12 col-md-3">
                    <h3>EmailReply.io</h3>
                    <p>Modern tool for quickly generate a reply to an email by utilizing OpenAI's API.</p>
                </div>
                <div class="col-sm-4 col-md-3 text-lg-start d-flex flex-column">
                    <h3>Types of replies?</h3>
                    <ol>
                        <li>Email</li>
                        <li>Chat messages</li>
                        <li>Any kind of written communication</li>
                    </ol>
                </div>
                <div class="col-sm-4 col-md-3 text-lg-start d-flex flex-column">
                    <h3>About</h3>
                    <ul class="list-unstyled">
                        <li><a href="https://openai.com/blog/chatgpt/">ChatGPT</a></li>
                        <li><a href="https://openai.com/">OpenAI</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 text-lg-start d-flex flex-column">
                    <h3>Github Repository</h3>
                    <ul class="list-unstyled">
                        <li><a href="https://github.com/hoejsagerc/emailreply_io">You can checkout the Github repository for this project, if you are interested in how i made it.</a></li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
    </footer>
</div>
